<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comercio - Fashion Shop Ecommerce HTML Template</title>

    <!-- Fav Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/fav-icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/fav-icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/fav-icons/favicon-16x16.png">

    <!-- Dependency Styles -->
    <link rel="stylesheet" href="../dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../dependencies/fontawesome/css/fontawesome-all.min.css" type="text/css">
    <link rel="stylesheet" href="../dependencies/owl.carousel/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../dependencies/owl.carousel/css/owl.theme.default.min.css" type="text/css">
    <link rel="stylesheet" href="../dependencies/flaticon/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="../dependencies/wow/css/animate.css" type="text/css">
    <link rel="stylesheet" href="../dependencies/jquery-ui/css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="../dependencies/venobox/css/venobox.css" type="text/css">
    <link rel="stylesheet" href="../dependencies/slick-carousel/css/slick.css" type="text/css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="../assets/css/app.css" type="text/css">


</head>

<body id="home-version-1" class="home-version-1" data-style="default">

<div class="site-content">


    <div class="container-fluid custom-container menu-rel-container">
        <div class="row">
            <div class="col-lg-6 col-xl-3">
                <div class="logo">
                    <a href="index.html">
                        <img src="../media/images/logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <section class="contact-area">
        <div class="container-fluid custom-container">
            <div class="section-heading pb-30">
                <h3>CREATE <span>ROOM</span></h3>
            </div>
            <div class="row justify-content-center">

                <div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
                    <div class="contact-form login-form">
                        <form action="#" enctype="multipart/form-data" th:action="@{/api/rooms}" th:object="${room}"
                              method="POST" novalidate="novalidate">
                            <div class="row">

                                <div class="col-xl-12">
                                    <input type="text" id="create-code" placeholder="code">
                                </div>

                                <div class="col-xl-12">
                                    <input type="text" id="create-description" placeholder="description">
                                </div>

                                <div class="col-xl-12">
                                    <input type="file" id="create-image" placeholder="image">
                                </div>

                                <div class="col-xl-12">
                                    <input type="text" id="create-price" placeholder="price">
                                </div>

                                <div class="col-xl-12">
                                    <label for="create-status">
                                    </label><select id="create-status" name="status" required>
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                                </div>

                                <div class="col-xl-12">
                                    <label for="create-type">Type</label>
                                    <select id="create-type" th:field="*{type}">
                                        <option th:each="p : ${types}" th:value="${p.id}" th:text="${p.name}"></option>
                                    </select>
                                </div>

                                <div class="col-xl-12">
                                    <input type="button" value="ADD NEW" onclick="addNewRoom()">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<script src="../dependencies/jquery/jquery.min.js"></script>
<script src="../dependencies/popper.js/popper.min.js"></script>
<script src="../dependencies/bootstrap/js/bootstrap.min.js"></script>
<script src="../dependencies/owl.carousel/js/owl.carousel.min.js"></script>
<script src="../dependencies/wow/js/wow.min.js"></script>
<script src="../dependencies/isotope-layout/js/isotope.pkgd.min.js"></script>
<script src="../dependencies/imagesloaded/js/imagesloaded.pkgd.min.js"></script>
<script src="../dependencies/jquery.countdown/js/jquery.countdown.min.js"></script>
<script src="../dependencies/gmap3/js/gmap3.min.js"></script>
<script src="../dependencies/venobox/js/venobox.min.js"></script>
<script src="../dependencies/slick-carousel/js/slick.js"></script>
<script src="../dependencies/headroom/js/headroom.js"></script>
<script src="../dependencies/jquery-ui/js/jquery-ui.min.js"></script>
<!--Google map api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsBrMPsyNtpwKXPPpG54XwJXnyobfMAIc"></script>
<script src="../assets/js/app.js"></script>
<script src="../room/room.js"></script>
<!--<script>-->
<!--    let imga = document.getElementById("create-image");-->
<!--    imga.addEventListener("change",e => {-->
<!--        console.log("event", e)-->
<!--    })-->
<!--   -->
<!--</script>-->

</body>

</html>